body {
  margin: 0;
  font-family: 'Lora', serif;
  background-color: white;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}

nav {
  margin: auto;
  font-family: 'Oswald', sans-serif;
}

input {
  display: none;
  margin: 0;
  padding: 0;
}

label {
  margin: auto 20px;
}

form {}

input {
  display: block;
  margin: 10px auto;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

textarea {
  display: block;
  margin: 10px auto;
  border-style: solid;
  padding: 5px;
  border-color: black;
}


/********************Class********************/
.wrapper {
  overflow-x: hidden
}

#nav-container-box {
  width: 100%;
  margin: 0;
  z-index: 3;
  position: fixed;
  transition: 0.5s;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bg-scroll {
  box-shadow: 0 1px 3px black;
  background-color: rgba(0,0,0,0.7);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
  width: 100%;
}

.inside-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  display: none;
  cursor: pointer;
  margin: auto 10px auto 0;
}

.line {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 5px;
}

.burger-exit {
  display: none;
  position: absolute;
  top: 18px;
  left: 19px;
  cursor: pointer;
  margin: auto 10px auto 0;
  z-index: 2;
}

.x-line-1 {
  width: 31px;
  height: 2px;
  background-color: white;
  margin-bottom: 20px;
  transform: rotate(45deg);
  transform-origin: 0%;
}

.x-line-2 {
  width: 31px;
  height: 2px;
  background-color: white;
  margin-top: 0;
  transform: rotate(-45deg);
  transform-origin: 0%;
}

.logo-image {
  width: 0;
  height: 0;
  margin: 0;
  transition: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image-scroll {
  margin: 35px 35px 35px 0;
  width: 125px;
  height: auto;
  transition: 500ms;
}

.nav-ul-list {
  display: flex;
  justify-content: space-between;
  vertical-align: baseline;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-item {
  list-style: none;
  padding-left: 0;
  padding-right: 25px;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 3px;
}

.active {
  font-weight: bold;
}

.ind-nav-link {
  text-decoration: none;
  color: whitesmoke;
  transition: 0.5s;
}

.ind-nav-link:hover {
  opacity: 0.75;
  text-decoration: none;
  color: whitesmoke;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link-ind img {
  width: 25px;
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.header-section {
}

#slideshow {

}

.single-item-head {

}

#slide-show .single-item-head .clients {

}

.clients {
  height: 100vh;
  background-position: top;
  background-size: cover;
  background-blend-mode: multiply;
}

.c1 {
  background-image: url('images/home-front-1-1.png');
}

.c2 {
  background-image: url('images/home-front-1-1.png');
}

.c3 {
  background-image: url('images/home-front-4.png');
}

.c4 {
  background-image: url('images/home-kitchen-1.png');
}

.header-section-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
}

.header-section-info h4 {
  font-family: 'Lora', serif;
  text-shadow: 1px 1px 3px black;
  max-width: 85%;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 0;
}

.header-buttons .btn {
  /*box-shadow: 1px 1px 5px black;*/
  text-shadow: 0 0 100px black;
}

.middle-section {
  background-color: white;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.middle-section h1, .middle-section h3 {
  color: #484848;
}

.title-line {
  background-color: #484848;
  height: 5px;
  width: 200px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.about-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-line-mid {
  background-color: #484848;
  height: 2px;
  width: 150px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.about-img {
  width: 35%;
  height: auto;
  margin: 15px;
  border-radius: 50%;
  box-shadow: 0 3px 3px black;
  opacity: 0;
  transform: translateX(50%);
  transition: 750ms;
}

.about-des {
  width: 50%;
  margin: 15px;
  opacity: 0;
  transform: translateX(-50%);
  transition: 750ms;
}

.about-des h3 {
  text-align: left;
}

.about-scroll {
  opacity: 1;
  transform: translateX(0%);
}

.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.portfolio-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto auto 0 auto;
  width: 60%;
  color: #484848;
}

.portfolio-heading p {
  margin: 10px;
}

.grid-portfolio {
  width: 100%;
  display: grid;
  grid-gap: 5px;
  margin: 25px auto auto auto;
  padding-left: 35px;
  padding-right: 35px;
  justify-content: center;
  align-content: center;
  max-width: 1250px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-portfolio-item {
  background-color: orange;
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;
  background-size: cover;
  background-position: top;
  margin: 0;
  overflow: hidden;
}

.grid-portofolio-item:hover {
background-position: center;
background-blend-mode: initial;
}

.overlay-icons {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.one {
  background-image: url('images/home-front-2.jpg');
}

.overlay {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250,250,250,0.75);
  color: #484848;
  margin: auto;
  padding-top: 10px;
  height: 100%;
  width: 100%;
  transform: translateY(185px);
  transition: all ease-in-out 250ms;
}

.overlay h4 {
  margin: 0;
}

.overlay p {
 margin: 15px;
}

.grid-portfolio-item:hover .overlay {
  transform: translateY(125px);
}

.two {
  background-image: url('images/home-front-2.jpg');
}

.three {
  background-image: url('images/home-front-2.jpg');
}

.four {
  background-image: url('images/home-front-2.jpg');
}

.five {
  background-image: url('images/home-front-2.jpg');
}

.six {
  background-color: #000033;
}

.six:hover .btn {
  transform: rotateY(-360deg);
  transition: 500ms;
}

.arrow {
  border: solid whitesmoke;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.six .btn:hover .arrow {
  border-color: #484848;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.six .btn span {
  display: none
}

.six:hover .btn span {
  display: inline-block;
}

.more-listings-div {
  text-transform: uppercase;
}

.testimonial-section-wrapper {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100vw;
}

.ts2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1250px;
  margin: auto;
  width: 100%;
}

.testimonial-section {
  margin-right: auto;
  margin-left: auto;
  padding-left: 35px;
  padding-right: 35px;
  width: 100%;
}

.testimonial-section h3 {
  color: #484848;
  padding: 25px;
}

.testimonial-section h5 {
  color: #484848;
  padding: 25px;
}

.single-item-test p {
  line-height: 30px;
  font-size: 1.2em;
  color: #484848;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
}

.single-item-test h5 {
  padding-bottom: 25px;
  text-transform: uppercase;
}

.slick-dots li button:before {
  color: #484848;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
    color: #484848 !important;
    font-size: 10px;
}

.testimonials {

}

.counter-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.counter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 15px;
}

.ind-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-left: 10px;
  width: 30%;
}

.ind-counter img {
  height: 80px;
  width: auto;
}

.ind-counter h3 {
  padding-top: 15px;
}

.lower-bottom-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  color: whitesmoke;
}

.lower-bottom-section p {
  margin: 10px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.min-title-line {
  background-color: #484848;
  height: 2px;
  width: 100px;
  margin: 15px auto;
}

.min-title-line {
  background-color: whitesmoke;
}

.contact {
  background-color: #505050;
  background-image: url('https://cdn.mindful.org/2016/05/happynotsuperior.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 20px;
}

#subscribe-mini-title {
  margin-top: 30px;
}

.get-in-touch {
  background-color: #000033;
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 20px;
}

/*
.mapouter {
  position: relative;
  text-align: right;
  height: 200px;
  width: 200px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 2px 2px;
    border-color: #484848;
}
*/


.footer-section {
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30%;
  margin-right: 30%;
}

.social-link-ind-f img {
  width: 30px;
  height: 30px;
}

.social-link-ind-f {
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
}


/********************ID********************/
/********************Media****************/
@media (max-width: 1250px) {}

@media (max-width: 1000px) {

.header-section {
  overflow: hidden;
}

.header-section-img {
  width: 65%;
}

  .title-line {
    background-color: #484848;
    height: 5px;
    width: 150px;
    margin-bottom: 25px;
  }

  .social-media-icon {
    margin: 5px 3px 5px 3px;
  }

  .grid-portfolio {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-heading {
    width: 85%;
  }

  .grid-portfolio-item {
    height: 350px;
  }

  .overlay {
    transform: translateY(235px);
  }

  .grid-portfolio-item:hover .overlay {
    transform: translateY(175px);
  }
}

@media (max-width: 700px) {

  #nav-container-box {
    height: 50px;
  }

  .nav-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .burger {
    display: block;
  }

  .line {}

  .line-scroll {
    background-color: whitesmoke;
  }

  .burger-exit {}

  .logo-image {
    display: none;
  }

  .nav-ul-list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 1;
    /*transform: translateX(100%);*/
  }

  .nav-item {
    padding: 5px 0 5px 0;
    text-align: center;
    letter-spacing: 3px;
  }

  .ind-nav-link {
    font-size: 2em;
  }

  .ind-nav-link-scroll {
    color: whitesmoke;
  }

  .nav-active {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
  }

  .active-exit-burger {
    display: block;
    z-index: 2;
  }

  .nav-line-avtive {
    opacity: 0;
  }

  .social-link-ind img {
    width: 20px;
    height: 20px;
  }

  .header-section {
    height: 450px;
  }

  .clients {
    height: 450px;
  }

  .header-section-info {
    top: 75px;
    transform: translateY(0%) translateX(-50%);
  }

  .header-section-info h4 {
    font-size: 1.2em;
  }

  .about-div {
    flex-direction: column-reverse;
  }

  .about-img {
    width: 65%;
  }

  .about-des {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 15px 0;
    text-align: center;
  }

  .about-des h3 {
    text-align: center;
  }

  .title-line-mid {
    margin-left: auto;
    margin-right: auto;
  }

.grid-portfolio {
  grid-template-columns: repeat(1, 1fr);
  padding-left: 15px;
  padding-right: 15px;
}

  .grid-portfolio-item {
    height: 425px;
  }

  .overlay {
    transform: translateY(310px);
  }

  .grid-portfolio-item:hover .overlay {
    transform: translateY(250px);
  }

  .testimonial-section {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .counter-section {
    flex-direction: column;
  }

  .ind-counter {
    padding-left: 0;
    padding-left: 0;
    width: 100%;
  }

  .number-sold {
    padding-bottom: 15px;
  }

  .dollars-sold {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .experience {
    padding-top: 15px;
  }

  .lower-bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact {
    width: 100%;
  }

  .get-in-touch {
  width: 100%;
  }

}

@media (max-width: 475px) {

  .header-section {
    height: 350px;
  }

  .header-section-info h4 {
    font-size: 1.0em;
  }

  .clients {
    height: 350px;
  }

  .grid-portfolio-item {
      height: 350px;
    }

    .overlay {
      transform: translateY(235px);
    }

    .grid-portfolio-item:hover .overlay {
      transform: translateY(175px);
    }

    .lower-bottom-section p {
      max-width: 90%
    }
}
